* {
    padding: 0;
    margin: 0;
    box-shadow: none;
}

#back {
    display: flex;
    font-size: 20px;
}

#leftBarre {
    display: grid;
    padding-left: 30px;
    width: 700px;
    background-color: grey;
    font-size: 25px;
    font-size: 23px;
}

#leftBarre h2 {
    color: ;
}

#leftBarre h2 {
    font-size: xx-large;
}

.parag1 h2 {
    padding-bottom: 20px;
}

.nParag {
    padding-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    font-family: 'Syne Mono', monospace;
    font-family: 'Titillium Web', sans-serif;
}

#rightBarre {
    display: grid;
    padding-left: 10px;
}

.photo {
    padding-top: 200px;
    padding-bottom: 120px;
}

.photo img {
    border-radius: 70% 70% 70% 70%;
}

#body {
    padding-left: 40px;
}

h2 {
    color: rgb(33, 34, 117);
}

.Title {
    padding-top: 10px;
    padding-bottom: 200px;
    text-align: center;
}

.Title h1 {
    font-size: 70px;
    color: rgb(33, 34, 117);
    font-family: 'Poppins', sans-serif;
}

.Title h2 {
    padding-bottom: 30px;
    font-size: 40px;
    color: rgb(33, 34, 117);
}

#paragT {
    background-color: rgb(45, 45, 117);
    height: 200px;
    text-indent: 100px;
    padding-top: 50px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-family: 'Syne Mono', monospace;
    font-family: 'Titillium Web', sans-serif;
}

.contacte {
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-family: 'Syne Mono', monospace;
    font-family: 'Titillium Web', sans-serif;
}

.contacte h2 {
    padding-bottom: 20px;
}

.pic {
    display: grid;
    padding-top: 5px;
    padding-right: 10px;
}

label {
    font-size: 20px;
}

button {
    background-color: rgb(67, 67, 211);
    cursor: pointer;
    margin-left: 100px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
}