* {
    margin: 50px 50px 0 50px;
    padding: 0;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.head {
    background-color: rgb(21, 79, 202);
    height: 100px;
    width: 1276px;
    border: solid 3px blue;
    padding-top: 50px;
}

.Section0 {
    background-color: rgb(190, 179, 71);
    height: 80px;
    width: 1276px;
    border: solid 3px blue;
    padding-top: 40px;
}

.Section1 {
    background-color: rgb(100, 211, 245);
    height: 125px;
    width: 250px;
    border: solid 3px blue;
    margin-top: 30px;
    position: relative;
    padding-top: 125px;
}

.Section2 {
    background-color: rgba(238, 58, 133, 0.836);
    height: 125px;
    width: 250px;
    border: solid 3px blue;
    margin-top: 30px;
    position: relative;
    top: -283px;
    left: 342px;
    padding-top: 125px;
}

.Section3 {
    background-color: rgb(28, 224, 28);
    height: 125px;
    width: 250px;
    border: solid 3px blue;
    margin-top: 30px;
    position: relative;
    top: -566px;
    left: 684px;
    padding-top: 125px;
}

.Section4 {
    background-color: rgb(238, 172, 74);
    height: 125px;
    width: 250px;
    border: solid 3px blue;
    margin-top: 30px;
    position: relative;
    top: -849px;
    left: 1026px;
    padding-top: 125px;
}

.Section5 {
    background-color: rgb(100, 211, 245);
    height: 125px;
    width: 592px;
    border: solid 3px blue;
    margin-top: 30px;
    position: relative;
    top: -849px;
    padding-top: 125px;
}

.Section6 {
    background-color: rgb(100, 211, 245);
    height: 125px;
    width: 592px;
    border: solid 3px blue;
    margin-top: 30px;
    position: relative;
    top: -1132px;
    left: 684px;
    padding-top: 125px;
}

.footer {
    background-color: rgb(190, 179, 71);
    height: 80px;
    width: 1276px;
    border: solid 3px blue;
    position: relative;
    top: -1132px;
    padding-top: 40px;
}

@media screen and (max-width: 1000px) {
    * {
        margin: 30px 30px 0 30px;
        padding: 0;
        text-align: center;
        color: white;
        font-family: sans-serif;
    }
    .head {
        background-color: rgb(21, 79, 202);
        height: 50px;
        width: 675px;
        border: solid 3px blue;
        padding-top: 25px;
    }
    .Section0 {
        background-color: rgb(190, 179, 71);
        height: 50px;
        width: 675px;
        border: solid 3px blue;
        padding-top: 25px;
    }
    .Section1 {
        background-color: rgb(100, 211, 245);
        height: 50px;
        width: 320px;
        border: solid 3px blue;
        margin-top: 30px;
        position: relative;
        padding-top: 25px;
    }
    .Section2 {
        background-color: rgba(238, 58, 133, 0.836);
        height: 50px;
        width: 320px;
        border: solid 3px blue;
        margin-top: 30px;
        position: relative;
        top: -111px;
        left: 355px;
        padding-top: 25px;
    }
    .Section3 {
        background-color: rgb(28, 224, 28);
        height: 50px;
        width: 320px;
        border: solid 3px blue;
        margin-top: 30px;
        position: relative;
        top: -111px;
        left: 0px;
        padding-top: 25px;
    }
    .Section4 {
        background-color: rgb(238, 172, 74);
        height: 50px;
        width: 320px;
        border: solid 3px blue;
        margin-top: 30px;
        position: relative;
        top: -222px;
        left: 355px;
        padding-top: 25px;
    }
    .Section5 {
        background-color: rgb(100, 211, 245);
        height: 50px;
        width: 675px;
        border: solid 3px blue;
        margin-top: 30px;
        position: relative;
        top: -222px;
        padding-top: 25px;
    }
    .Section6 {
        background-color: rgb(100, 211, 245);
        height: 50px;
        width: 675px;
        border: solid 3px blue;
        margin-top: 30px;
        position: relative;
        top: -222px;
        left: 0px;
        padding-top: 25px;
    }
    .footer {
        background-color: rgb(190, 179, 71);
        height: 50px;
        width: 675px;
        border: solid 3px blue;
        margin-top: 30px;
        position: relative;
        top: -222px;
        padding-top: 25px;
    }
}

@media screen and (max-width: 500px) {
    * {
        margin: 10px 10px 0 10px;
        padding: 0;
        text-align: center;
        color: white;
        font-family: sans-serif;
    }
    .head {
        background-color: rgb(21, 79, 202);
        height: 30px;
        width: 337px;
        border: solid 3px blue;
        padding-top: 15px;
    }
    .Section0 {
        background-color: rgb(190, 179, 71);
        height: 30px;
        width: 337px;
        border: solid 3px blue;
        padding-top: 15px;
    }
    .Section1 {
        background-color: rgb(100, 211, 245);
        height: 30px;
        width: 337px;
        border: solid 3px blue;
        margin-top: 30px;
        position: relative;
        padding-top: 15px;
    }
    .Section2 {
        background-color: rgba(238, 58, 133, 0.836);
        height: 30px;
        width: 337px;
        border: solid 3px blue;
        margin-top: 30px;
        position: relative;
        top: 0;
        left: 0;
        padding-top: 15px;
    }
    .Section3 {
        background-color: rgb(28, 224, 28);
        height: 30px;
        width: 337px;
        border: solid 3px blue;
        margin-top: 30px;
        position: relative;
        top: 0px;
        left: 0px;
        padding-top: 15px;
    }
    .Section4 {
        background-color: rgb(238, 172, 74);
        height: 30px;
        width: 337px;
        border: solid 3px blue;
        margin-top: 30px;
        position: relative;
        top: 0;
        left: 0;
        padding-top: 15px;
    }
    .Section5 {
        background-color: rgb(100, 211, 245);
        height: 30px;
        width: 337px;
        border: solid 3px blue;
        margin-top: 30px;
        position: relative;
        top: 0;
        padding-top: 15px;
    }
    .Section6 {
        background-color: rgb(100, 211, 245);
        height: 30px;
        width: 337px;
        border: solid 3px blue;
        margin-top: 30px;
        position: relative;
        top: 0;
        left: 0px;
        padding-top: 15px;
    }
    .footer {
        background-color: rgb(190, 179, 71);
        height: 30px;
        width: 337px;
        border: solid 3px blue;
        margin-top: 30px;
        position: relative;
        top: 0;
        padding-top: 15px;
    }
}
