* {
    margin: 0;
    padding: 0;
}

#backk {
    background-image: url('ppp.jpg');
    background-size: 4000px;
}

.profil img {
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 70% 70% 70% 70%;
    /*box-shadow: 3px 4px 5px 4px rgb(0 0 0 / 50%);*/
}

h1 {
    color: black;
    text-decoration: blink;
    font-family: Times New Roman;
}

.HeaD {
    display: flex;
}

.Style {
    padding: 20px;
    padding-left: 50px;
    padding-right: 150px;
}

.wrap {
    font-family: 'Nunito', sans-serif;
    font-family: 'Syne Mono', monospace;
    font-family: 'Titillium Web', sans-serif;
}

.Contacte {
    padding-right: 600px;
    padding-top: 30px;
    font-family: 'Nunito', sans-serif;
    font-family: 'Syne Mono', monospace;
    font-family: 'Titillium Web', sans-serif;
}

.Photo {
    padding-top: 23px;
    float: left;
}

.Photo img {
    padding-top: 12px;
    float: left;
}

.ENSAH {
    padding-right: 100px;
    padding-top: 30px;
    font-size: 60px;
    background: #0003b3;
    background-image: linear-gradient(to top, #08ff3d 0%, rgba(29, 82, 255, 0.067) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.tabulation {
    display: inline-block;
    margin-left: 180px;
}

h2 {
    color: #6495ED;
}

.nParag {
    padding-top: 10px;
    padding-right: 30px;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-family: 'Syne Mono', monospace;
    font-family: 'Titillium Web', sans-serif;
}

.CERTIFICAT {
    padding-left: 130px;
}

.lANGUE {
    padding-left: 200px;
}